.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex > ul {
	padding-left: 0;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex ul li {
	list-style: none;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex ul li a {
	text-decoration: none;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex ul li a:hover {
	text-decoration: underline;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex #prev_next {
	clear: both;
	padding: 40px 0;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex #prev_next .prev_link {
	float: left;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex #prev_next .next_link {
	float: right;
}

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex #prev_next .prev_link:hover,
.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostIndex #prev_next .next_link:hover {
	text-decoration: none;
}