/*.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView #page_headings .TCv_Link {*/
	/*text-decoration: none;*/
/*}*/

/*.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView #page_headings .TCv_Link:hover {*/
	/*text-decoration: underline;*/
/*}*/

.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView table,
.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView td {
		border: none !important;
		max-width: 100%!important;
}

/*.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView .mcnImage {*/
	/*max-width: 100%!important;*/
/*}*/

/*.TMv_PagesTheme .TMv_ContentLayout .TMv_MailChimpPostView #prev_next {*/
	/*clear: both;*/
	/*padding: 40px 0;*/
/*}*/

/*.TMv_MailChimpPostView #prev_next .prev_link {*/
	/*float: left;*/
/*}*/

/*.TMv_MailChimpPostView #prev_next .next_link {*/
	/*float: right;*/
/*}*/

/*.TMv_MailChimpPostView #prev_next .prev_link:hover,*/
/*.TMv_MailChimpPostView #prev_next .next_link:hover {*/
	/*text-decoration: none;*/
/*}*/


.TMv_MailChimpPostView #templateHeader,
.TMv_MailChimpPostView #templateFooter,
.TMv_MailChimpPostView #canspamBarWrapper{
	display: none;
}